@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-hcss-primary-50: #f0f0ff;
	--color-hcss-primary-100: #e5e4ff;
	--color-hcss-primary-200: #cecdff;
	--color-hcss-primary-300: #aca6ff;
	--color-hcss-primary-400: #8373ff;
	--color-hcss-primary-500: #5d3bff;
	--color-hcss-primary-600: #4a14ff;
	--color-hcss-primary-700: #3800ff;
	--color-hcss-primary-800: #3001d6;
	--color-hcss-primary-900: #2903af;
	--color-hcss-primary-950: #150077;

	--color-hcss-secondary: #c33d62;
}
