IMAGE_NAME=git.eiflerstrom.de/ic3p3/hcss-website
IMAGE_TAG=dev            # dev / prod
APP_PORT=3000
DATA_DIR=/srv/hcss/data  # holds the sqlite DB and uploads

HOST_URL=https://hcss.example.de
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
